
  .column2 {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
    text-align: center;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title2 {
    color: grey;
  }
  
h2{
  text-align: center;
}
  