.App {
  text-align: center;
  background-color:#adadad;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/

body {
  background-color: #343a40;
}

.App-header {
  
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.linkp{
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.linkp:hover {
  opacity: 0.85;
}


.column {
  float: left;
  width: 30%;
  padding: 5px;
  font-size: 40px;
  color: #21d16b;
  border-radius: 100px;
  background: #d8d8d8;
  margin: 15px;
  border: 5px solid #21d16b;
  
}

.row{
  display: flex;  
  flex-direction: row;
 
  padding: 50px;
  
}

/* Clear floats after image containers */
.row::after {
  
  content: "";
  clear: both;
  display: table;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
